<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed Properties</title>
</head>

<body>
    <a href="../index.html">Back</a>
     <h3>
         Components allow us to extract certain repetitive parts of the layout into separate files that can be easily refferenced later.
         In the case of component inside another component we cannot use v-for directly on the sub-component, we have to wrap it in a div.
     </h3>
    <div id="root">
        <task-list></task-list>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>